<div id="profile-content">
    <p class="lead">Edit your details here.</p>

    <form>
        <label class="lead" for="currentUsername">Username: </label>
        <span class="hidden-sm-down"><%= userDetails.username %></span>
        <span class="lead">
            <a href="#edit-username" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Edit">
                <!--<i class="far fa-edit"></i>-->
                <i class="fas fa-pen"></i>
            </a>
        </span>
        <br>

        <label class="lead" for="newUsername">New Username:</label>
        <input name="currentUsername" id="newUsername" type="text" class="form-control" placeholder='<%= userDetails.username %>'>
        <br>
        <label class="lead" for="">Name: </label> 
        <% if (userDetails.firstName == null || userDetails.lastName == null) { %>
            <span class="hidden-sm-down">No name set</span>
        <% } else { %>
            <span class="hidden-sm-down"><%= userDetails.firstName %> <%= userDetails.lastName %></span>
        <% } %>
        <br>

        <label class="lead">Edit Name:</label><br>
        <% if (userDetails.firstName == null) { %>
            <input name="currentFirstName" id="newFirstName" type="text" class="form-control name-input" placeholder='First name'>
        <% } else { %>
            <input name="currentFirstName" id="newFirstName" type="text" class="form-control name-input" placeholder='<%= userDetails.firstName %>'>
        <% } %>
        <% if (userDetails.lastName == null) { %>
            <input name="currentlastName" id="newLastName" type="text" class="form-control name-input" placeholder='Last name'>
        <% } else { %>
            <input name="currentLastName" id="newLastName" type="text" class="form-control name-input" placeholder='<%= userDetails.lastName %>'>
        <% } %>
        <br><br>

        <button class="btn btn-success form-control" type='submit' value="submit" role="button">Update</button>
    </form>
</div>