<div id="profile-content">
    <p class="lead">You can view and edit your details here.</p>

    <form>
        <label class="lead" for="currentUsername">Username: </label>
        <span class="hidden-sm-down"><%= userDetails.username %></span>
        <br>

        <label class="lead" for="newUsername">Edit Username:</label>
        <span>
            <input id="profile-input-1" disabled name="currentUsername" id="newUsername" type="text" class="form-control profile-input" placeholder='<%= userDetails.username %>'>
            <span class="lead">
                <a id="edit-btn-1" href="#edit-username" class="btn btn-primary edit-btn" data-toggle="tooltip" data-placement="right" title="Edit">
                    <i class="far fa-edit lead"></i>
                </a>
            </span>
        </span>
        <br>
        <label class="lead" for="">Name: </label> 
        <% if (userDetails.firstName == null || userDetails.lastName == null) { %>
            <span class="hidden-sm-down">No name set</span>
        <% } else { %>
            <span class="hidden-sm-down"><%= userDetails.firstName %> <%= userDetails.lastName %></span>
        <% } %>
        <br>

        <label class="lead">Edit Name:</label><br>
        <span>
            <% if (userDetails.firstName == null) { %>
                <input id="profile-input-2-a" disabled name="currentFirstName" id="newFirstName" type="text" class="form-control name-input" placeholder='First name'>
            <% } else { %>
                <input id="profile-input-2-a" disabled name="currentFirstName" id="newFirstName" type="text" class="form-control name-input" placeholder='<%= userDetails.firstName %>'>
            <% } %>
            <% if (userDetails.lastName == null) { %>
                <input id="profile-input-2-b" disabled name="currentlastName" id="newLastName" type="text" class="form-control name-input" placeholder='Last name'>
            <% } else { %>
                <input id="profile-input-2-b" disabled name="currentLastName" id="newLastName" type="text" class="form-control name-input" placeholder='<%= userDetails.lastName %>'>
            <% } %>
            <span class="lead">
                <a id="edit-btn-2" href="#edit-username" class="btn btn-primary edit-btn" data-toggle="tooltip" data-placement="right" title="Edit">
                    <i class="far fa-edit lead"></i>
                </a>
            </span>
        </span>
        <br><br>

        <label class="lead" for="currentEmail">Email</label>
        <span class="hidden-sm-down"><%= userDetails.email %></span>
        <br>

        <label class="lead" for="newEmail">Edit Email:</label>
        <span>
            <input id="profile-input-3" disabled name="currentEmail" id="newEmail" type="text" class="form-control profile-input" placeholder='<%= userDetails.email %>'>
            <span class="lead">
                <a id="edit-btn-3" href="#edit-username" class="btn btn-primary edit-btn" data-toggle="tooltip" data-placement="right" title="Edit">
                    <i class="far fa-edit lead"></i>
                </a>
            </span>
        </span>
        <br><br>

        <button class="btn btn-success form-control" type='submit' value="submit" role="button">Update</button>
    </form>
</div>