<div id="profile-content">
    <p class="lead">You can view and edit your details here.</p>

    <form>
        <label id="profile" class="lead" for="currentUsername">Username: </label>
        <span class="hidden-sm-down"><%= userDetails.username %></span>
        <br>

        <label class="lead" for="newUsername">Edit Username:</label>
        <span id="edit-warning-1" class="edit-warning"></span>
        <span>
            <input id="profile-input-1" disabled name="currentUsername" id="newUsername" type="text" class="form-control profile-input" placeholder='<%= userDetails.username %>'>
            <span class="lead">
                <a id="edit-btn-1" href="#edit-username" class="btn btn-primary edit-btn" data-toggle="tooltip" data-placement="right" title="Edit">
                    <i class="far fa-edit lead"></i>
                </a>
            </span>
        </span>
        <br>
        <label class="lead" for="">Name: </label> 
        <% if (userDetails.firstName == null || userDetails.lastName == null) { %>
            <span class="hidden-sm-down">No name set</span>
        <% } else { %>
            <span class="hidden-sm-down"><%= userDetails.firstName %> <%= userDetails.lastName %></span>
        <% } %>
        <br>

        <label class="lead">Edit Name:</label> <span id="edit-warning-2" class="edit-warning"></span><br>
        <span>
            <% if (userDetails.firstName == null) { %>
                <input id="profile-input-2-a" disabled name="currentFirstName" id="newFirstName" type="text" class="form-control name-input" placeholder='First name'>
            <% } else { %>
                <input id="profile-input-2-a" disabled name="currentFirstName" id="newFirstName" type="text" class="form-control name-input" placeholder='<%= userDetails.firstName %>'>
            <% } %>
            <% if (userDetails.lastName == null) { %>
                <input id="profile-input-2-b" disabled name="currentlastName" id="newLastName" type="text" class="form-control name-input" placeholder='Last name'>
            <% } else { %>
                <input id="profile-input-2-b" disabled name="currentLastName" id="newLastName" type="text" class="form-control name-input" placeholder='<%= userDetails.lastName %>'>
            <% } %>
            <span class="lead">
                <a id="edit-btn-2" href="#edit-username" class="btn btn-primary edit-btn" data-toggle="tooltip" data-placement="right" title="Edit">
                    <i class="far fa-edit lead"></i>
                </a>
            </span>
        </span>
        <br><br>

        <label id="email" class="lead" for="currentEmail">Email</label>
        <span class="hidden-sm-down"><%= userDetails.email %></span>
        <br>

        <label class="lead" for="newEmail">Edit Email:</label>
        <span id="edit-warning-3" class="edit-warning"></span>
        <span>
            <input id="profile-input-3" disabled name="currentEmail" id="newEmail" type="text" class="form-control profile-input" placeholder='<%= userDetails.email %>'>
            <span class="lead">
                <a id="edit-btn-3" href="#edit-username" class="btn btn-primary edit-btn" data-toggle="tooltip" data-placement="right" title="Edit">
                    <i class="far fa-edit lead"></i>
                </a>
            </span>
        </span>
        <br><br>
        <label id="verify" class="lead">Verification</label>
        <br>
        <span style="color:#dc3545;"><i class="fas fa-exclamation-triangle"></i> You are not verified!</span>
        <br>
        <label id="2fa" class="lead">Set up 2FA</label>
        <br>
        <label id="privacy" class="lead">Privacy</label>
        <br>
        <label id="payment" class="lead">Payment Details</label>
        <br>
        <label id="deposit" class="lead">Deposit Details</label>
        <br>
        <label id="wallets" class="lead">Crypto wallets</label>
        <br>
        <label id="settings" class="lead">Settings</label><br>
        <button class="btn btn-danger" role="button" data-toggle="modal" data-target="#delete-modal">
            <i class="far fa-trash-alt"></i> Delete account
        </button>

        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="delete-modal-label">Are you sure?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  If you choose to delete your account this action cannot be undone. 
                  Furthermore, you will be unable to access any tokens that have not been transfered.
                  If you are sure, please type your username (case sensitive) below:
                  <input type="text" class="form-control" id="delete-confirm" style="margin-top: 1em;">
                </div>
                <div class="modal-footer">
                  <button disabled id="delete-confirm-btn" type="button" class="btn btn-danger">Delete</button>  
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>

        <br>
        <a href="#" id="reset-btn" class="lead">Reset</a>
        <hr>
        <button class="btn btn-success form-control" type='submit' value="submit" role="button">Update</button>
    </form>
</div>