<!DOCTYPE html>
<html>
    <%- include('templates/head', {subtitle: "Welcome"}); -%>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <!-- Heading -->
                <%- include ('templates/header'); -%>
                <div class="container" id="content-container">
                    <!-- Photo upload section -->
                    <!-- VISION: A big square with an "upload" button centred inside. 
                    Once image is uploaded, should show image inside the box.
                    Should then allow the user to annotate the image inside the box. -->
                    <div class="row center-content" id="index-main">
                        <div class="col-7 my-auto" style="text-align: center;">
                            <h3 id="carousel-header">We pay you to supply, annotate and sort data. Get started now!</h3>
                        
                            <!-- CAROUSEL -->
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                                <div class="carousel-buttons">
                                    <button class="btn btn-secondary standard-btn" id="one" style="width: 25%;"><i class="fas fa-upload"></i> Supply</button>
                                    <button class="btn btn-secondary standard-btn" id="two" style="width: 25%;"><i class="fas fa-pencil-alt"></i> Annotate</button>
                                    <button class="btn btn-secondary standard-btn" id="three" style="width: 25%;"><i class="fas fa-sort"></i> Sort</button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <%- include ('templates/carousel/supply') -%>
                                    </div>
                                    <div class="carousel-item">
                                        <%- include ('templates/carousel/annotate') -%>
                                    </div>
                                    <div class="carousel-item">
                                        <%- include ('templates/carousel/sort') -%>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="content-secondary" class="col my-auto">
                            <div id="photo-wrapper">
                                <%- include('templates/upload') -%>
                            </div>
                            <div id="labelling-wrapper">
                                <%- include ('templates/labelling') -%>
                            </div>
                            <div id="sort-wrapper">
                                <%- include('templates/sort') -%>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div>
                        <h3>Ways to Earn with LeyLine</h3><br>
                        <div class="row">
                            <div class="col">
                                <span class="index-symbol"><i class="fas fa-plus-circle"></i></span>
                                <h5>Generate Data</h5>
                                <p>Become a casual data-generator. Become a serious data-generator: find clients to commission datasets for.</p>
                            </div>
                            <div class="col">
                                <span class="index-symbol"><i class="fas fa-database"></i></span>
                                <h5>Comission a Dataset</h5>
                                <p>Commission datasets for your latest projects.</p>
                            </div>
                            <div class="col">
                                <span class="index-symbol"><i class="fas fa-edit"></i></span>
                                <h5>Annotate Existing Data</h5>
                                <p>Contribute to existing datasets. Connect with data scientists & data miners worldwide.</p>
                            </div>
                        </div>
                        <div class="row" style="width: 70%; margin: 0 auto;">
                            <div class="col">
                                <span class="index-symbol"><i class="fas fa-filter"></i></span>
                                <h5>Sort Existing Data</h5>
                                <p>Sort provided datasets based on some criteria. Pre-sort your own data to earn even more.</p>
                            </div>
                            <div class="col">
                                <span class="index-symbol"><i class="fas fa-cogs"></i></span>
                                <h5>Other Method</h5>
                                <p>This is a placeholder summary, appropriate content will be added in the future.</p>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div>
                        <h3>Learn more</h3><br>
                        <div class="row">
                            <div class="col">
                                <span class="index-symbol"><i class="fas fa-star"></i></span>
                                <h5>Getting Started</h5>
                                <p>Data mining and data generation are new concepts for a lot of people. But don't be intimidated:
                                    they are profittable side-hustles that ANYONE can do.</p>
                            </div>
                            <div class="col">
                                <span class="index-symbol"><i class="fas fa-industry"></i></span>
                                <h5>Data Generation</h5>
                                <p>Become a data generator (no programming involved!)</p>
                            </div>
                            <div class="col">
                                <span class="index-symbol"><i class="fas fa-gem"></i></span>
                                <h5>Data Mining</h5>
                                <p>Become a data miner (challenging: recommended for computer programmers).</p>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div>
                        <h3>Disclaimers</h3>
                        <div class="row">
                            <ul>
                                <li>Data can be commissioned anonymously, but all data will eventually become public on the OCEAN blockchain.
                                    Do not commission any confidential information via Leyline. Leyline will not be held accountable for the exposure
                                    of confidential or illicit information by its users.
                                </li>
                                <li>
                                    Since the data uploaded to Leyline is public-access, illicit material is not allowed.
                                    Mild offenses such as copyright breaches will not be punished by law, but by the withholding of LEY tokens and potential account deactivation.
                                    Major offenses such as uploading child pornography and revenge pornography will be traced down to your real identity, and the uploaders will be punished by the appropriate laws. 
                                    Leyline, as a child of the OCEAN protocol, believes in transparency and integrity of data. See 
                                    this page for legal guidelines when using LeyLine.
                                </li>
                                <li>
                                    Leyline is a railroad which transfers the data you upload to the OCEAN blockchain.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- After image is uploaded -->
                <!-- <div>
                    Annotate Images:
                </div>-->
            </div>
            <%- include('templates/footer') %>
        </div>
        <script src="/javascripts/index.js"></script>
    </body>
</html>