<div id="profile-content">
    <p class="lead">You can view and edit your details here.</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <form>
        <label id="profile" class="lead" for="currentUsername">Username: </label>
        <span id="current-username" class="hidden-sm-down"><%= userDetails.username %></span>
        <br>

        <label class="lead" for="newUsername">Edit Username:</label>
        <span id="edit-warning-1" class="edit-warning"></span>
        <span>
            <input id="profile-input-1" disabled name="currentUsername" id="newUsername" type="text" class="form-control profile-input" placeholder='<%= userDetails.username %>'>
            <span class="lead">
                <a id="edit-btn-1" href="#edit-username" class="btn btn-primary edit-btn" data-toggle="tooltip" data-placement="right" title="Edit">
                    <i class="far fa-edit lead"></i>
                </a>
            </span>
        </span>
        <br>
        <label class="lead" for="">Name: </label> 
        <% if (userDetails.firstName == null || userDetails.lastName == null) { %>
            <span class="hidden-sm-down">No name set</span>
        <% } else { %>
            <span class="hidden-sm-down"><%= userDetails.firstName %> <%= userDetails.lastName %></span>
        <% } %>
        <br>

        <label class="lead">Edit Name:</label> <span id="edit-warning-2" class="edit-warning"></span><br>
        <span>
            <% if (userDetails.firstName == null) { %>
                <input id="profile-input-2-a" disabled name="currentFirstName" id="newFirstName" type="text" class="form-control name-input" placeholder='First name'>
            <% } else { %>
                <input id="profile-input-2-a" disabled name="currentFirstName" id="newFirstName" type="text" class="form-control name-input" placeholder='<%= userDetails.firstName %>'>
            <% } %>
            <% if (userDetails.lastName == null) { %>
                <input id="profile-input-2-b" disabled name="currentlastName" id="newLastName" type="text" class="form-control name-input" placeholder='Last name'>
            <% } else { %>
                <input id="profile-input-2-b" disabled name="currentLastName" id="newLastName" type="text" class="form-control name-input" placeholder='<%= userDetails.lastName %>'>
            <% } %>
            <span class="lead">
                <a id="edit-btn-2" href="#edit-username" class="btn btn-primary edit-btn" data-toggle="tooltip" data-placement="right" title="Edit">
                    <i class="far fa-edit lead"></i>
                </a>
            </span>
        </span>
        <br><br>

        <label id="email" class="lead" for="currentEmail">Email</label>
        <span class="hidden-sm-down"><%= userDetails.email %></span>
        <br>

        <label class="lead" for="newEmail">Edit Email:</label>
        <span id="edit-warning-3" class="edit-warning"></span>
        <span>
            <input id="profile-input-3" disabled name="currentEmail" id="newEmail" type="text" class="form-control profile-input" placeholder='<%= userDetails.email %>'>
            <span class="lead">
                <a id="edit-btn-3" href="#edit-username" class="btn btn-primary edit-btn" data-toggle="tooltip" data-placement="right" title="Edit">
                    <i class="far fa-edit lead"></i>
                </a>
            </span>
        </span>
        <br><br>
        <label id="verify" class="lead">Verification</label>
        <br>
        <span style="color:#dc3545;"><i class="fas fa-exclamation-triangle"></i> You are not verified!</span><br>
        <button type="button" class="btn btn-primary">
            <i class="fas fa-user-check"></i> Verify me!
        </button>
        <br>
        <label id="2fa" class="lead">2FA</label><br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#2fa-modal">
            <i class="fas fa-key"></i> Set up 2FA
        </button>
        <%- include('2fa_modal') -%>
        <br>
        <label id="privacy" class="lead">Privacy</label>
        <br>
        <label id="payment" class="lead">Payment Details</label>
        <br>
        <label id="deposit" class="lead">Deposit Details</label>
        <br>
        <label id="wallets" class="lead">Crypto wallets</label>
        <br>
        <label id="settings" class="lead">Settings</label><br>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">
            <i class="far fa-trash-alt"></i> Delete account
        </button>

        <%- include('delete_modal') -%>

        <br>
        <a href="#" id="reset-btn" class="lead">Reset</a>
        <hr>
        <button class="btn btn-success form-control" type='submit' value="submit" role="button">Update</button>
    </form>
</div>